body {
    background-color: white;
}

.title {
    text-align: left !important;
}

.product_details_card {
    border: none;
    overflow: hidden;
}

div.colors{
    justify-content: left;
}
.border-end{
    border-right: none !important;
}
.thumbnail_images ul {
    display: flex;
    padding: 0;
    max-height: 700px;
    overflow: auto;
    overflow-x: hidden;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    margin-top: 10px;
}

.thumbnail_images ul li {
    margin: 5px;
    padding: 10px;
    border: 2px solid #eee;
    cursor: pointer;
    transition: all 0.5s;
}

.thumbnail_images ul li:hover {
    border: 2px solid #000;
}

.main_image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 500px;
    min-width: fit-content;
    overflow: hidden;
}

.content p.color-name {
    font-size: 14px;
    border: 1px solid;
    width: fit-content;
    padding: 5px;
}

.content .description {
    display: block;
    min-height: auto;
    font-size: 90%;
    border-bottom: none;
}

.right-side {
    position: relative;
    padding: 2rem !important;
}

.buttons .btn {
    margin: auto;
    height: auto;
    min-height: 70px;
    width: 100%;
    min-width: 150px;
    border-radius: 0px !important;
}
div.content{
    text-align: left;
}

.old_price, .new_price{
    display: block !important;
    text-align: left;
}
.new_price{
    font-weight: bold;
}

@media (max-width: 991px){
    div.main_image{
        width: 100%;
        height: auto;
    }
    div.main_image img{
        width: inherit;
    }
    .border-end div{
        border-right: none;
        flex-direction: column-reverse !important;
    }
    .thumbnail_images ul {
        flex-direction: row !important;
        overflow-x: auto;
        overflow-y: hidden;
    }
}

@media (max-width: 576px){
    div.main_image img{
        height: auto;
    }
    .color{
        width: 25px !important;
        height: 25px !important;
        margin: 6px !important;
    }
}
