.card{
    box-shadow: 0px 0px 40px 0px;
}

.bg-grey {
    background-color: #eae8e8;
}

.cart-product-row{
    display: flex;
    flex-direction: row;
    padding: 20px 0;
}
.cart-product-row *{
    margin: auto;
}
.row-qt-control{
    display: flex;
    flex-direction: row;
}
.row-qt-control .form-control{
    height: fit-content;
    max-width: 50px;
    text-align: right;
    padding: 7px 10px 7px 2px;
}
.row-qt-control .btn{
    color: grey;
    text-decoration: none;
    font-size: xx-large;
}
.row-qt-control .btn:focus, .row-qt-control .btn:active{
    border: 0px !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button.checkout{
    width: -webkit-fill-available;
}

.btn-delete{
    align-self: center;
    padding: 5px 25px;
    margin: 10px;
}
.btn-delete path:hover{
    color: white;
}
.btn-delete path{
    fill: inherit;
}
.d-flex h6.text-muted{
    min-width: 120px;
}

@media (max-width: 767px){
    .cart-product-row{
        flex-direction: column;
        padding: 10px 0px;
    }
    div.p-5{
        padding: 1.5rem !important;
    }
}
